body {
  margin: 10px; }

#game-stack {
  border-width: 3px;
  border-style: solid;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px; }

.pauseContent {
  font-size: 36px;
  margin-top: -75px; }

.help-text {
  font-size: 24px;
  padding: 15px 30px !important; }
  .help-text .piece {
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 2px 10px; }

#pushpop .ui-dialog {
  width: 400px;
  padding: 0; }
  #pushpop .ui-dialog .ui-dialog-contain {
    width: auto;
    padding: 25px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.5); }
  #pushpop .ui-dialog .buttons {
    margin-top: 25px; }

#pushpop #gameOver {
  width: 325px; }

@media screen and (orientation:portrait) {
  #pushpop.small #game-board .stack {
    width: 66px;
    min-height: 1px;
    padding-left: 10px; }
  #pushpop.small .piece {
    border-width: 3px;
    border-style: solid;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    width: 60px;
    height: 60px;
    margin-bottom: -15px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
    #pushpop.small .piece .shape {
      height: 36px;
      margin-top: -18px;
      font-size: 36px; }
  #pushpop.small #game-board {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 294px; }
  #pushpop.small .game {
    height: 345px;
    top: 50%;
    margin-top: -196px; }
  #pushpop.small #game-stack {
    padding: 5px 56px 5px 3px;
    margin: 0 auto 24px auto;
    height: 66px;
    width: 240px; }
    #pushpop.small #game-stack .piece {
      margin-right: -51px;
      -webkit-appearance: none;
      -webkit-box-shadow: 6px 0 6px -3px #333333;
      -moz-box-shadow: 6px 0 6px -3px #333333;
      box-shadow: 6px 0 6px -3px #333333; }
  #pushpop.small #newGameConfirm {
    width: 250px; }
    #pushpop.small #newGameConfirm .buttons a {
      display: block; }
  #pushpop.small #gameOver {
    width: 302px; }
    #pushpop.small #gameOver .ui-dialog-contain {
      padding: 15px; }

  #pushpop.medium #game-board .stack {
    width: 98px;
    min-height: 1px;
    padding-left: 15px; }
  #pushpop.medium .piece {
    border-width: 4px;
    border-style: solid;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    width: 90px;
    height: 90px;
    margin-bottom: -22.5px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
    #pushpop.medium .piece .shape {
      height: 54px;
      margin-top: -27px;
      font-size: 54px; }
  #pushpop.medium #game-board {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 437px; }
  #pushpop.medium .game {
    height: 482.5px;
    top: 50%;
    margin-top: -264.75px; }
  #pushpop.medium #game-stack {
    padding: 5px 82px 5px 3px;
    margin: 0 auto 36px auto;
    height: 98px;
    width: 352px; }
    #pushpop.medium #game-stack .piece {
      margin-right: -77px;
      -webkit-appearance: none;
      -webkit-box-shadow: 6px 0 6px -3px #333333;
      -moz-box-shadow: 6px 0 6px -3px #333333;
      box-shadow: 6px 0 6px -3px #333333; }

  #pushpop.large #game-board .stack {
    width: 130px;
    min-height: 1px;
    padding-left: 20px; }
  #pushpop.large .piece {
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 120px;
    height: 120px;
    margin-bottom: -30px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
    #pushpop.large .piece .shape {
      height: 72px;
      margin-top: -36px;
      font-size: 72px; }
  #pushpop.large #game-board {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 580px; }
  #pushpop.large .game {
    height: 620px;
    top: 50%;
    margin-top: -333.5px; }
  #pushpop.large #game-stack {
    padding: 5px 107px 5px 3px;
    margin: 0 auto 48px auto;
    height: 130px;
    width: 448px; }
    #pushpop.large #game-stack .piece {
      margin-right: -102px;
      -webkit-appearance: none;
      -webkit-box-shadow: 6px 0 6px -3px #333333;
      -moz-box-shadow: 6px 0 6px -3px #333333;
      box-shadow: 6px 0 6px -3px #333333; } }
@media screen and (orientation:landscape) {
  #pushpop.small #game-board .stack {
    width: 66px;
    min-height: 1px;
    padding-left: 10px; }
  #pushpop.small .piece {
    border-width: 3px;
    border-style: solid;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    width: 60px;
    height: 60px;
    margin-bottom: -15px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
    #pushpop.small .piece .shape {
      height: 36px;
      margin-top: -18px;
      font-size: 36px; }
  #pushpop.small .game {
    width: 410px;
    top: 50%;
    height: 219px;
    margin-top: -143px; }
  #pushpop.small #game-stack {
    left: 328px;
    width: 66px;
    height: 144px;
    padding: 62px 5px 0 5px; }
    #pushpop.small #game-stack .piece {
      margin-top: -57px;
      -webkit-appearance: none;
      -webkit-box-shadow: 0 6px 6px -3px #333333;
      -moz-box-shadow: 0 6px 6px -3px #333333;
      box-shadow: 0 6px 6px -3px #333333; }

  #pushpop.medium #game-board .stack {
    width: 98px;
    min-height: 1px;
    padding-left: 15px; }
  #pushpop.medium .piece {
    border-width: 4px;
    border-style: solid;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    width: 90px;
    height: 90px;
    margin-bottom: -22.5px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
    #pushpop.medium .piece .shape {
      height: 54px;
      margin-top: -27px;
      font-size: 54px; }
  #pushpop.medium .game {
    width: 580px;
    top: 50%;
    height: 324.5px;
    margin-top: -195.75px; }
  #pushpop.medium #game-stack {
    left: 466px;
    width: 98px;
    height: 224px;
    padding: 90px 5px 0 5px; }
    #pushpop.medium #game-stack .piece {
      margin-top: -85px;
      -webkit-appearance: none;
      -webkit-box-shadow: 0 6px 6px -3px #333333;
      -moz-box-shadow: 0 6px 6px -3px #333333;
      box-shadow: 0 6px 6px -3px #333333; }

  #pushpop.large #game-board .stack {
    width: 130px;
    min-height: 1px;
    padding-left: 20px; }
  #pushpop.large .piece {
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 120px;
    height: 120px;
    margin-bottom: -30px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
    #pushpop.large .piece .shape {
      height: 72px;
      margin-top: -36px;
      font-size: 72px; }
  #pushpop.large .game {
    width: 824px;
    top: 50%;
    height: 430px;
    margin-top: -248.5px; }
  #pushpop.large #game-stack {
    left: 678px;
    width: 130px;
    height: 288px;
    padding: 117px 5px 0 5px; }
    #pushpop.large #game-stack .piece {
      margin-top: -112px;
      -webkit-appearance: none;
      -webkit-box-shadow: 0 6px 6px -3px #333333;
      -moz-box-shadow: 0 6px 6px -3px #333333;
      box-shadow: 0 6px 6px -3px #333333; } }
body {
  background-color: #121212;
  font-family: Segoe UI, Arial, Helvetica, sans-serif; }

.color_0 {
  background-color: #ff8080;
  border-color: red; }

.color_1 {
  background-color: #ffff80;
  border-color: yellow; }

.color_2 {
  background-color: #8080ff;
  border-color: blue; }

.color_3 {
  background-color: lime;
  border-color: green; }

#game-stack {
  border-color: #888; }
  #game-stack .piece {
    cursor: pointer; }

.ui-icon-pause {
  background-image: url("images/pause.png") !important; }

.timer-panel {
  position: absolute;
  top: 0; }

#help {
  height: 100%; }

#puzzle {
  overflow: hidden; }

#gameMenu {
  display: none;
  position: absolute;
  z-index: 10;
  -webkit-appearance: none;
  -webkit-box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.7); }
  #gameMenu .ui-slider {
    width: auto;
    display: block;
    margin: .25em 5px; }

.paused #pause {
  display: none; }
.paused .scrim {
  display: block; }
.paused .game {
  display: none; }

#stats {
  text-align: center; }

.ui-dialog-contain h1 {
  text-align: center;
  margin-top: 0; }

#pushpop .workarea {
  height: 100%;
  width: auto;
  background-color: #121212;
  overflow: hidden;
  padding: 0; }

.pauseContent {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center; }

.game {
  margin-left: auto;
  margin-right: auto;
  z-index: 2; }

.game, .help-text {
  position: relative; }

#pushpop .ui-dialog {
  margin: 0 auto;
  position: relative;
  background-color: #000; }
  #pushpop .ui-dialog .ui-dialog-contain {
    background-color: #000;
    position: absolute;
    top: 50%;
    margin-top: -25%;
    text-shadow: none;
    color: #fff; }
  #pushpop .ui-dialog #quip {
    text-align: center;
    font-size: 18px;
    padding-top: 1em;
    font-weight: bold;
    color: yellow; }

body .help-text {
  min-height: 100%; }
  body .help-text #push {
    color: #ff8080; }
  body .help-text #pop {
    color: #ffff80; }
  body .help-text #head {
    color: #8080ff; }
  body .help-text #tail {
    color: lime; }
  body .help-text .piece {
    color: black;
    text-shadow: none;
    border-width: 3px;
    border-style: solid;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px; }
  body .help-text #yellow3, body .help-text #yellow1 {
    background-color: #8080ff;
    border-color: blue; }
  body .help-text #red3, body .help-text #red1 {
    background-color: #ff8080;
    border-color: red; }

#game-board .stack {
  display: inline-block;
  vertical-align: top; }
  #game-board .stack .piece:first-child {
    cursor: pointer;
    opacity: 1; }
#game-board .stack:first-child {
  padding-left: 0 !important; }

.piece {
  position: relative; }
  .piece .shape {
    position: absolute;
    top: 50%;
    text-align: center;
    text-shadow: none;
    color: #000;
    width: 100%;
    line-height: 1; }

@media screen and (orientation:portrait) {
  .ui-page {
    width: 100%;
    height: 100%; }

  #game-board .stack:first-child {
    padding-left: 0; }

  #game-stack {
    position: relative;
    border-left: none; }
    #game-stack .piece {
      position: relative;
      display: inline-block; } }
@media screen and (orientation:landscape) {
  .ui-page {
    width: 100%;
    height: 100%; }

  #game-board .stack:first-child {
    padding-left: 0; }

  #game-stack {
    position: absolute;
    border-top: none; }
    #game-stack .piece {
      margin-bottom: 0; } }
