@mixin rounded($border, $radius:$border*3) {
  border-width: $border;
  border-style: solid;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false) {
 $params: $shadow1;
  @if $shadow2 
    { $params: $shadow1, $shadow2; }
    @if $shadow3 != false
      { $params: $shadow1, $shadow2, $shadow3; }
      @if $shadow4 != false
        { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
        @if $shadow5 != false
          { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }

  -webkit-appearance: none;
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin colored-piece($color) {
  background-color: lighten($color, 25%);
  border-color: $color;
}

@mixin centered($width) {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: $width;
}

$solutionOverlap: 0.85;


//////////////////  Sized ///////////////

// touchpad, ipad 1&2: 1024x768
// ipad 2 retina: 2048x1536 
// iphone: 320x480
// iphone retina: 960x640
// Android screens:
//    xlarge screens are at least 960dp x 720dp
//    large screens are at least 640dp x 480dp
//    normal screens are at least 470dp x 320dp
//    small screens are at least 426dp x 320dp

$pieceWidth: 120px;  // 60px // 90px  // 120px
$pieceHeight: 120px;  // 60px // 90px  // 120px
$pieceBorder: 5px;   // 3px // 4px   // 5px;

$screenWidth: 1024px;  // 480px  // 640px // 1024px
$screenHeight: 768px;  // 320px  // 480px // 768px
$puzzleSidePadding: 100px;  // 20px // 30px // 100px


$stack-padding: $pieceWidth / 6;
$gameStackBorderWidth: 3px;
$toolbarHeight: 47px;

body {
  margin: 10px;
}

#game-stack {
  @include rounded($gameStackBorderWidth, 19px);
}

.timer-panel { 
  right: 4px;
  margin-top: .4em;
}

#timer {
  font-size: 14px;
}

#toolbar h1 {
  margin-top: -28px;
  margin-bottom: 0;
  font-size: 24px;
}

.pauseContent {
  font-size: 36px;
  margin-top: -75px;
}

#pushpop .ui-dialog {
  width: 350px;
  height: 150px;
  padding: 0 15px;

  .ui-dialog-contain {
    padding: 25px;
    @include box-shadow(0 0 8px 10px rgba(0, 0, 0, 0.3));
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .buttons {
    margin-top: 25px;
  }
}

.help-text {
  font-size: 24px;
  padding: 15px 30px !important;
  .piece {
    @include rounded(2px);
    padding: 2px 10px;
  }
}

#game-board {
  .stack {
    width:$pieceWidth + ($pieceBorder * 2);
    min-height:1px;
    padding-left:$stack-padding; 
  }
}

$pieceOverlap: -$pieceHeight / 4;
.piece {
  @include rounded($pieceBorder);
  width: $pieceWidth; 
  height: $pieceHeight; 
  margin-bottom: $pieceOverlap; 
  @include box-shadow(0 4px 5px 3px rgba(0,0,0,0.5));

  .shape {
    $height: 72px;
    height:$height; 
    margin-top:$height * -0.5; 
    font-size:$height; 
  }
}

@media screen and (orientation:portrait) {
  #game-board {
    $boardWidth: ($pieceWidth+ ($pieceBorder*2))*4 + ($stack-padding*3);
    @include centered($boardWidth);
  }
  .game {
    $gameHeight: (($pieceHeight+($pieceBorder*2)) * 4) + ($pieceOverlap * 3) + (50px + $pieceHeight + ($pieceBorder*2) + (5px*2));
    height: $gameHeight;
    top: 50%;
    margin-top: (-$gameHeight / 2) - ($toolbarHeight / 2);
  }
  #game-stack {
    padding: 5px $pieceWidth*$solutionOverlap+5 5px 3px;
    margin: 0 auto $pieceHeight * 0.8 auto;
    height: $pieceHeight + ($pieceBorder*2);
    width: (($pieceWidth * (1-$solutionOverlap)) + ($pieceBorder * 2)) * 16;
    .piece {  
      margin-right: $pieceWidth * -$solutionOverlap;
      @include box-shadow(6px 0 6px -3px #333);
    }
  }
}

@media screen and (orientation:landscape) {
  .game {
    width: $screenWidth - (2 * $puzzleSidePadding);
    top: 50%;
    $gameHeight: (($pieceHeight+($pieceBorder*2)) * 4) + ($pieceOverlap * 3);
    height: $gameHeight;
    margin-top: (-$gameHeight / 2) - ($toolbarHeight / 2);
  }
  #game-stack {
    $stackWidth: $pieceWidth + ($pieceBorder*2);
    $stackHeight: (($pieceHeight * (1-$solutionOverlap))) * 16;
    $stackSidePadding: 5px;
    left: $screenWidth - (2 * $puzzleSidePadding) - $stackWidth - (2 * $gameStackBorderWidth) - (2*$stackSidePadding);
    width: $stackWidth;
    height: $stackHeight;
    padding: $pieceHeight*$solutionOverlap+($pieceBorder*2)+5 5px 0 5px;
    .piece {
      margin-top: ($pieceHeight * -$solutionOverlap) - ($pieceBorder * 2);
      @include box-shadow(0 6px 6px -3px #333);
    }
  }
}

/////////////////////////////////////////////////////////

///////////// Size agnostic ////////////////////
$backgroundColor: #121212;

body {
  background-color: $backgroundColor;
  font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

.color_0 { @include colored-piece(red); }
.color_1 { @include colored-piece(yellow); }
.color_2 { @include colored-piece(blue); }
.color_3 { @include colored-piece(green); }

#game-stack {
  border-color: #888;
  .piece {
    cursor: pointer;
  }
}

.timer-panel { 
  position: absolute;
  top: 0;
}

#timer {
  color: #DEDEDE;
  text-align: center;
  display: inline-block;
}

#toolbar {
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

#help {
  height: 100%;
}

.paused {
  #pause { display: none; }
  .scrim {display: block; }
  .game { display: none; }
}

#stats {
  text-align: center;
}

.ui-dialog-contain h1 {
  text-align: center;
  margin-top: 0;
}

#pushpop .workarea {
  height: 100%;
  width: auto;
  background-color: $backgroundColor;
  overflow: hidden;
  padding: 0;
}

.pauseContent {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.game {
  margin-left:auto;
  margin-right:auto;
  z-index: 2;
}

.game, .help-text {
  position: relative;
}

#pushpop .ui-dialog {
  margin: 0 auto;
  position: relative;
  background-color: #000;

  .ui-dialog-contain {
    background-color: #000;
    position: absolute;
    top: 50%;
    margin-top: -25%;
    text-shadow: none;
    color: #fff;
  }
}

.help-text {
  min-height: 100%;
  #push { color: lighten(red, 25%); }
  #pop { color: lighten(yellow, 25%); }
  #head { color: lighten(blue, 25%); }
  #tail { color: lighten(green, 25%); }
  .piece {
    color: black;
    text-shadow: none;
  }
  #yellow3, #yellow1 { @include colored-piece(blue); }
  #red3, #red1 { @include colored-piece(red); }
}

#game-board {
  .stack {
    display: inline-block;
    vertical-align: top;
    .piece:first-child {
      cursor: pointer;
      opacity:1;
    }
  }
  .stack:first-child {
    padding-left:0;
  }
}

.piece {
  position: relative;

  .shape {
    position:absolute; 
    top:50%; 
    text-align: center;
    text-shadow: none;
    color: #000; 
    width: 100%;
    line-height: 1;
  }
}

@media screen and (orientation:portrait) {
  .ui-page {
    width: 100%;
    height: 100%;
  }
  #game-board {
    .stack:first-child {
      padding-left:0;
    }    
  }
  #game-stack {
    position: relative;
    border-left: none;
    .piece {
      position:relative;
      display:inline-block;
    }
  }
}

@media screen and (orientation:landscape) {
  .ui-page {
    width: 100%;
    height: 100%;
  }
  #game-board {
    .stack:first-child {
      padding-left:0;
    }    
  }
  #game-stack {
    position: absolute;
    border-top: none;
    .piece {
      margin-bottom: 0;
    }
  }
}

////////////////////////////////////////////////

