/* http://tqcblog.com/2012/04/19/transparent-jquery-mobile-dialogs/  */

.ui-dialog-background {
	opacity: 0.5;
	display: block !important;
	-webkit-transition: opacity 0.5s ease-in;
}

.ui-dialog-background.pop.in {
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in;
}

.ui-dialog {
	min-height: 100% !important;
	background: transparent !important;
}

.ui-dialog-background.pop.out {
	opacity: 0.5;
	-webkit-animation-duration: 1ms;
	-moz-animation-duration: 1ms;	
}

