body {
  margin: 10px; }

h1 {
  font-size: 2em;
  margin-bottom: 0.67em; }

#game-stack {
  border-width: 3px;
  border-style: solid;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px; }

.pauseContent {
  font-size: 36px;
  margin-top: -75px; }

.help-text {
  font-size: 24px;
  padding: 15px 30px !important; }
  .help-text .piece {
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 2px 10px; }

#pushpop .ui-dialog {
  padding: 0; }
  #pushpop .ui-dialog .ui-dialog-contain {
    width: 400px;
    margin-left: -200px;
    padding: 25px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.5); }
  #pushpop .ui-dialog .buttons {
    margin-top: 25px; }

#pushpop.small .ui-dialog .ui-dialog-contain {
  padding: 10px; }
  #pushpop.small .ui-dialog .ui-dialog-contain h1 {
    font-size: 1.5em; }
#pushpop.small .ui-dialog #quip {
  font-size: 16px; }
#pushpop.small .ui-dialog .buttons {
  margin-top: 15px; }

@media screen and (orientation:portrait) {
  #pushpop.small #game-board .stack {
    width: 66px;
    min-height: 1px;
    margin-left: 10px; }
  #pushpop.small #game-board .popped {
    margin-top: -51px;
    opacity: 0; }
  #pushpop.small .numbers .shape {
    height: 36px;
    margin-top: -18px;
    font-size: 36px; }
  #pushpop.small .shapes .shape_2 {
    border-bottom-width: 40px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; }
  #pushpop.small .piece {
    border-width: 3px;
    border-style: solid;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    width: 60px;
    height: 60px;
    margin-bottom: -15px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
  #pushpop.small #game-board {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 294px; }
  #pushpop.small .game {
    height: 345px;
    top: 50%;
    margin-top: -196px; }
  #pushpop.small #game-stack {
    padding: 5px;
    margin: 0 auto 24px auto;
    height: 66px;
    width: 306px; }
    #pushpop.small #game-stack .piece {
      margin-right: -50px;
      -webkit-appearance: none;
      -webkit-box-shadow: 6px 0 6px -3px #333333;
      -moz-box-shadow: 6px 0 6px -3px #333333;
      box-shadow: 6px 0 6px -3px #333333; }
    #pushpop.small #game-stack .piece.popped {
      left: -60px;
      opacity: 0; }
  #pushpop.small .ui-dialog .buttons a {
    display: block; }
  #pushpop.small .ui-dialog .ui-dialog-contain {
    width: 302px;
    margin-left: -151px;
    padding: 15px; }
  #pushpop.small .demo-controls .ui-icon {
    display: none; }
  #pushpop.small .demo-controls .ui-btn-inner {
    padding-left: 20px; }
  #pushpop.small .demo-controls .demo-buttons {
    width: 315px; }

  #pushpop.medium #game-board .stack {
    width: 98px;
    min-height: 1px;
    margin-left: 15px; }
  #pushpop.medium #game-board .popped {
    margin-top: -75.5px;
    opacity: 0; }
  #pushpop.medium .numbers .shape {
    height: 54px;
    margin-top: -27px;
    font-size: 54px; }
  #pushpop.medium .shapes .shape_2 {
    border-bottom-width: 60px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; }
  #pushpop.medium .piece {
    border-width: 4px;
    border-style: solid;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    width: 90px;
    height: 90px;
    margin-bottom: -22.5px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
  #pushpop.medium #game-board {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 437px; }
  #pushpop.medium .game {
    height: 482.5px;
    top: 50%;
    margin-top: -264.75px; }
  #pushpop.medium #game-stack {
    padding: 5px;
    margin: 0 auto 36px auto;
    height: 98px;
    width: 458px; }
    #pushpop.medium #game-stack .piece {
      margin-right: -74px;
      -webkit-appearance: none;
      -webkit-box-shadow: 6px 0 6px -3px #333333;
      -moz-box-shadow: 6px 0 6px -3px #333333;
      box-shadow: 6px 0 6px -3px #333333; }
    #pushpop.medium #game-stack .piece.popped {
      left: -90px;
      opacity: 0; }

  #pushpop.large #game-board .stack {
    width: 130px;
    min-height: 1px;
    margin-left: 20px; }
  #pushpop.large #game-board .popped {
    margin-top: -100px;
    opacity: 0; }
  #pushpop.large .numbers .shape {
    height: 72px;
    margin-top: -36px;
    font-size: 72px; }
  #pushpop.large .shapes .shape_2 {
    border-bottom-width: 80px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent; }
  #pushpop.large .piece {
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 120px;
    height: 120px;
    margin-bottom: -30px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
  #pushpop.large #game-board {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 580px; }
  #pushpop.large .game {
    height: 620px;
    top: 50%;
    margin-top: -333.5px; }
  #pushpop.large #game-stack {
    padding: 5px;
    margin: 0 auto 48px auto;
    height: 130px;
    width: 610px; }
    #pushpop.large #game-stack .piece {
      margin-right: -98px;
      -webkit-appearance: none;
      -webkit-box-shadow: 6px 0 6px -3px #333333;
      -moz-box-shadow: 6px 0 6px -3px #333333;
      box-shadow: 6px 0 6px -3px #333333; }
    #pushpop.large #game-stack .piece.popped {
      left: -120px;
      opacity: 0; } }
@media screen and (orientation:landscape) {
  #pushpop.small #game-board .stack {
    width: 66px;
    min-height: 1px;
    margin-left: 10px; }
  #pushpop.small #game-board .popped {
    margin-top: -51px;
    opacity: 0; }
  #pushpop.small .numbers .shape {
    height: 36px;
    margin-top: -18px;
    font-size: 36px; }
  #pushpop.small .shapes .shape_2 {
    border-bottom-width: 40px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; }
  #pushpop.small .piece {
    border-width: 3px;
    border-style: solid;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    width: 60px;
    height: 60px;
    margin-bottom: -15px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
  #pushpop.small .game {
    width: 410px;
    top: 50%;
    height: 219px;
    margin-top: -143px; }
  #pushpop.small #game-stack {
    left: 328px;
    width: 66px;
    height: 216px;
    padding: 5px; }
    #pushpop.small #game-stack .piece {
      margin-bottom: -56px;
      -webkit-appearance: none;
      -webkit-box-shadow: 0 6px 6px -3px #333333;
      -moz-box-shadow: 0 6px 6px -3px #333333;
      box-shadow: 0 6px 6px -3px #333333; }
    #pushpop.small #game-stack .piece.popped {
      top: -51px;
      opacity: 0; }

  #pushpop.medium #game-board .stack {
    width: 98px;
    min-height: 1px;
    margin-left: 15px; }
  #pushpop.medium #game-board .popped {
    margin-top: -75.5px;
    opacity: 0; }
  #pushpop.medium .numbers .shape {
    height: 54px;
    margin-top: -27px;
    font-size: 54px; }
  #pushpop.medium .shapes .shape_2 {
    border-bottom-width: 60px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; }
  #pushpop.medium .piece {
    border-width: 4px;
    border-style: solid;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    width: 90px;
    height: 90px;
    margin-bottom: -22.5px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
  #pushpop.medium .game {
    width: 580px;
    top: 50%;
    height: 324.5px;
    margin-top: -195.75px; }
  #pushpop.medium #game-stack {
    left: 466px;
    width: 98px;
    height: 323px;
    padding: 5px; }
    #pushpop.medium #game-stack .piece {
      margin-bottom: -83px;
      -webkit-appearance: none;
      -webkit-box-shadow: 0 6px 6px -3px #333333;
      -moz-box-shadow: 0 6px 6px -3px #333333;
      box-shadow: 0 6px 6px -3px #333333; }
    #pushpop.medium #game-stack .piece.popped {
      top: -75.5px;
      opacity: 0; }

  #pushpop.large #game-board .stack {
    width: 130px;
    min-height: 1px;
    margin-left: 20px; }
  #pushpop.large #game-board .popped {
    margin-top: -100px;
    opacity: 0; }
  #pushpop.large .numbers .shape {
    height: 72px;
    margin-top: -36px;
    font-size: 72px; }
  #pushpop.large .shapes .shape_2 {
    border-bottom-width: 80px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent; }
  #pushpop.large .piece {
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 120px;
    height: 120px;
    margin-bottom: -30px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.5); }
  #pushpop.large .game {
    width: 824px;
    top: 50%;
    height: 430px;
    margin-top: -248.5px; }
  #pushpop.large #game-stack {
    left: 678px;
    width: 130px;
    height: 415px;
    padding: 5px; }
    #pushpop.large #game-stack .piece {
      margin-bottom: -111px;
      -webkit-appearance: none;
      -webkit-box-shadow: 0 6px 6px -3px #333333;
      -moz-box-shadow: 0 6px 6px -3px #333333;
      box-shadow: 0 6px 6px -3px #333333; }
    #pushpop.large #game-stack .piece.popped {
      top: -100px;
      opacity: 0; } }
body {
  background-color: #121212;
  font-family: Segoe UI, Arial, Helvetica, sans-serif; }

.color_0 {
  background-color: #ff8080;
  border-color: red; }

.color_1 {
  background-color: #ffd880;
  border-color: #ffb000; }

.color_2 {
  background-color: #8080ff;
  border-color: blue; }

.color_3 {
  background-color: lime;
  border-color: green; }

.shapes .color_0 .shape {
  background-color: red;
  border-bottom-color: red; }
.shapes .color_1 .shape {
  background-color: #FFB000;
  border-bottom-color: #FFB000; }
.shapes .color_2 .shape {
  background-color: blue;
  border-bottom-color: blue; }
.shapes .color_3 .shape {
  background-color: green;
  border-bottom-color: green; }

.numbers .shape {
  position: absolute;
  top: 50%;
  text-align: center;
  text-shadow: none;
  color: #000;
  width: 100%;
  line-height: 1; }
.numbers .shape_0::before {
  content: "1"; }
.numbers .shape_1::before {
  content: "2"; }
.numbers .shape_2::before {
  content: "3"; }
.numbers .shape_3::before {
  content: "4"; }

.shapes .piece .shape_0 {
  width: 66%;
  height: 66%;
  border-radius: 120px;
  top: 50%;
  margin: -33% auto 0 auto;
  position: relative;
  content: ""; }
.shapes .shape_1 {
  width: 60%;
  height: 60%;
  top: 50%;
  margin: -30% auto 0 auto;
  position: relative;
  content: ""; }
.shapes .shape_2 {
  width: 0;
  height: 0;
  top: 50%;
  background: none !important;
  border-bottom-style: solid;
  margin: -33% auto 0 auto;
  position: relative;
  content: ""; }
.shapes .shape_3 {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  margin: -12% 0 0 0;
  position: relative;
  content: "";
  /* Rotate */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* Rotate Origin */
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }

#game-stack {
  border-color: #888; }
  #game-stack .piece {
    cursor: pointer;
    top: 0;
    left: 0; }

.piece {
  transition: opacity 600ms, margin-top 600ms, left 600ms, top 600ms;
  -moz-transition: opacity 600ms, margin-top 600ms, left 600ms, top 600ms;
  -webkit-transition: opacity 600ms, margin-top 600ms, left 600ms, top 600ms;
  -o-transition: opacity 600ms, margin-top 600ms, left 600ms, top 600ms; }

.piece.pushed {
  margin-top: 0 !important;
  opacity: 1 !important; }

.ui-icon-pause {
  background-image: url("images/pause.png") !important; }

.timer-panel {
  position: absolute;
  top: 0; }

#help {
  height: 100%; }

#puzzle {
  overflow: hidden; }

#gameMenu {
  display: none;
  position: absolute;
  z-index: 10;
  -webkit-appearance: none;
  -webkit-box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.7); }
  #gameMenu .ui-slider {
    width: auto;
    display: block;
    margin: .25em 5px; }

.paused #pause {
  display: none; }
.paused .scrim {
  display: block; }
.paused .game {
  display: none; }

#stats {
  text-align: center; }

.ui-dialog-contain h1 {
  text-align: center;
  margin-top: 0; }

#pushpop .workarea {
  height: 100%;
  width: auto;
  background-color: #121212;
  overflow: hidden;
  padding: 0; }

.pauseContent {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center; }

.game {
  margin-left: auto;
  margin-right: auto;
  z-index: 2; }

.game, .help-text {
  position: relative; }

#pushpop .ui-slider {
  width: 100%; }

#pushpop .ui-dialog {
  margin: 0;
  position: absolute;
  background-color: #000;
  width: 100%; }
  #pushpop .ui-dialog .ui-dialog-contain {
    background-color: #000;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: 0;
    border-color: #666;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.6em 0.6em 0 0;
    -moz-border-radius: 0.6em 0.6em 0 0;
    -webkit-border-radius: 0.6em 0.6em 0 0;
    border-bottom: none;
    text-shadow: none;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  #pushpop .ui-dialog #quip {
    text-align: center;
    font-size: 18px;
    padding-top: 1em;
    font-weight: bold;
    color: yellow; }

body .help-text {
  min-height: 100%; }
  body .help-text #push {
    color: #ff8080; }
  body .help-text #pop {
    color: #ffff80; }
  body .help-text #head {
    color: #8080ff; }
  body .help-text #tail {
    color: lime; }
  body .help-text .piece {
    color: black;
    text-shadow: none;
    border-width: 3px;
    border-style: solid;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px; }
  body .help-text #yellow3, body .help-text #yellow1 {
    background-color: #8080ff;
    border-color: blue; }
  body .help-text #red3, body .help-text #red1 {
    background-color: #ff8080;
    border-color: red; }
  body .help-text #yellow1::before, body .help-text #red1::before {
    content: "1"; }
  body .help-text #yellow3::before, body .help-text #red3::before {
    content: "3"; }

#game-board .stack {
  display: inline-block;
  vertical-align: top;
  cursor: pointer; }
#game-board .stack:first-child {
  margin-left: 0 !important; }

.demo-controls {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0; }
  .demo-controls .demo-buttons {
    width: 400px;
    margin: 0 auto; }

.in-demo .demo-controls {
  display: block; }

.piece {
  position: relative; }

@media screen and (orientation:portrait) {
  .ui-page {
    width: 100%;
    height: 100%; }

  #game-board .stack:first-child {
    margin-left: 0; }

  #game-stack {
    position: relative;
    border-left: none; }
    #game-stack .piece {
      position: relative;
      display: inline-block; } }
@media screen and (orientation:landscape) {
  .ui-page {
    width: 100%;
    height: 100%; }

  #game-board .stack:first-child {
    padding-left: 0; }

  #game-stack {
    position: absolute;
    border-top: none; }
    #game-stack .piece {
      margin-bottom: 0; } }
li.disabled .ui-li {
  padding-left: 25px;
  background-image: url(images/lock.png);
  background-repeat: no-repeat;
  background-position: 0 50%; }

#gameOver .buttons #nextLevel, #gameOver .buttons .getPremiumBtn, #pushpop.small #gameOver .buttons #nextLevel, #pushpop.small #gameOver .buttons .getPremiumBtn {
  display: none; }

#gameOver .buttons.upLevel #nextLevel, #pushpop.small #gameOver .buttons.upLevel #nextLevel {
  display: block; }

#gameOver .buttons.upgrade .getPremiumBtn, #pushpop.small #gameOver .buttons.upgrade .getPremiumBtn {
  display: block; }

.demo-controls {
  position: absolute !important;
  z-index: 5; }

#pushpop.small .demo-controls .ui-btn {
  margin: 0.5em 3px; }

p {
  margin-top: 1em; }
